@model HelmoBilite_RC_LM.Models.Livraison

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Livraison</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeureChargement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeureChargement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateHeureDechargement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateHeureDechargement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuChargement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuChargement.Pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuDechargement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuDechargement.Pays)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
