@model IEnumerable<HelmoBilite_RC_LM.Models.Livraison>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHeureChargement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHeureDechargement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LieuChargement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LieuDechargement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHeureChargement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateHeureDechargement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LieuChargement.Pays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LieuDechargement.Pays)
            </td>
            <td>
                @if (item.Statut == "En attente")
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
